:root {
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --logo-color: #000000;
  --footer-links-color: rgba(255, 255, 255, 0.6);
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --button-color: #f5f4fa;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--text-color);
  background-color: var(--primary-background-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo {
  font-size: 26px;
  font-family: 'Raleway', sans-serif;
  color: var(--logo-color);
}

.logo span {
  color: var(--accent-color);
}

.nav-link {
  font-size: 14px;
  font-weight: 500;
  color: var(--title-color);
}

.nav-link.current {
  color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.contact-link {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.hero {
  background-color: var(--secondary-background-color);
  text-align: center;
}

.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--primary-background-color);
}

.hero-button {
  font-size: 16px;
  font-weight: 700;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
}

.hero-button:hover,
.hero-button:focus {
  color: var(--accent-color);
  background-color: var(--primary-background-color);
}

.hero-button,
.filter-button {
  cursor: pointer;
}

.section-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: var(--title-color);
}

.feature-title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: var(--title-color);
}

.feature-text {
  line-height: 1.7;
}

.person {
  font-size: 16px;
}

.person-name {
  font-weight: 500;
  color: var(--title-color);
}

.page-footer {
  background-color: var(--secondary-background-color);
}

.page-adress {
  font-style: normal;
}

.adress-text {
  color: var(--primary-background-color);
}

.adress-link {
  line-height: 1.71;
  color: var(--footer-links-color);
}

.adress-link:hover,
.adress-link:focus {
  color: var(--accent-color);
}

.filter-button {
  font-size: 16px;
  font-weight: 500;
  color: var(--title-color);
  background-color: var(--button-color);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--primary-background-color);
  background-color: var(--accent-color);
}

.product-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  color: var(--title-color);
}

.product-description {
  font-size: 16px;
  line-height: 1.87;
}
